.navbar {
    background-color: #1146a6;
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar ul {
    display: flex;
    gap: 0.8rem;
  }
  
  .navbar a {
    color: #fff;
  }
 
  .search-form {
    display: flex;
    align-items: center;
    width: 600px;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    right: 10px;
  }
  
  
   .add{
    background-color: #1c99d3;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 0 1rem; ;
    cursor: pointer;
    transition: 0.4s;
  }

  .add:hover {
    background-color: #1c99d3;
    border: 1px solid #1146a6;
    color: #1146a6;
  }